header {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande',
    'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin: 0;
  text-align: center;
}

img {
  margin: 20px 0;
  width: 100%;
}

input[type='search'] {
  font-size: 3rem;
  width: 100%;
  margin: 2rem 0;
}

input[type='search']::placeholder {
  color: #d4d4d4;
}

.results {
  margin-bottom: 5rem;
}
.results .col .card {
  margin: 1rem 0;
}

.list-group-item.list-group-item-hover:hover {
  color: #78c2ad;
  cursor: pointer;
}
.list-group-item .person-profile {
  color: #5a5a5a;
}

footer {
  background: rgba(255, 255, 255, 0.9);
}
